@model List<MusicStreamingWeb.Models.Song>
@{
    ViewBag.Title = "List of songs";
}
@foreach (var i in Model)
{
<div id="container">
    <p>Artist: @i.Artist</p>
    <p>Title : @i.Title</p>
    <audio controls>        
        <source src="@i.Url" type="audio/@i.Format">
        Тег audio не поддерживается вашим браузером.
        <a href="@i.Url">Скачайте музыку</a>.
    </audio>
</div>
}