@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Using this application you can broadcast your music playlist and connect to others playlist. In addition,
    you can listen some music from our store and buy it after that.</p>

