@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
    Zhuravok96@gmail.com<br />
    Kharkiv, UA 61170<br />
    <abbr title="Phone">P:</abbr>
    099.923.6743
    Zhuravok Mikhail
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Zhuravok96@gmail.com">Zhuravok96@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Zhuravok96@gmail.com">Zhuravok96@gmail.com</a>
</address>