
@{
    ViewBag.Title = "UsedSource";
}

<h2>UsedSource</h2>
<ul>
    <li>
        <a href="http://forums.asp.net/t/1864064.aspx?Music+player+for+MVC">Music Player for MVC (forum asp.net)</a>
    </li>

    <li>
        <a href="http://www.asp.net/mvc/overview/older-versions/mvc-music-store/mvc-music-store-part-1">Music Player for MVC. Creating from start (forum asp.net)</a>
    </li>
    <li>
        <a href="https://javascript.ru/blog/fortuner/skript-muzyki-sajt-fonovaya-muzyka-sajte-kak-proigrat-zvuk-muzyku-sajte">Background music on site. JavaScript</a>
    </li>
    <li>
        <a href="https://getbootstrap.com/examples/grid/">Positioning in bootstrap</a>
    </li>
    <li>
        <a href="http://naudio.codeplex.com/">NAudio library</a>
    </li>
    <li>
        <a href="http://mark-dot-net.blogspot.com/2011/05/how-to-play-back-streaming-mp3-using.html">Play streaming music. Basis of audio files (bitrate, chanelling, etc.).NAudio demo</a>
    </li>
    <li>
        <a href=" https://github.com/IonDen/ion.sound">ION Sound plugin</a>
    </li>
    <li>
        <a href=" https://developer.mozilla.org/ru/docs/Web/API/Web_Audio_API">Web Audio API</a>
    </li>
    <li>
        <a href=" http://ruseller.com/lessons.php?rub_id=32&id=1154">Audio Randio On PHP (RU)</a>
    </li>
    <li>
        <a href=" http://jplayer.org/latest/developer-guide/">JPlayer Developer Guide</a>
    </li>
</ul>