@model List<MusicStreaming.Data.Models.Song>
@{
    ViewBag.Title = "AddSongToPlaylist";
}

<h2>AddSongToPlaylist</h2>

    @using (Html.BeginForm("AddSongToPlaylist", "Broadcast", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <select name="id" class="form-control">
        @foreach (var i in Model)
        {
            <option value="@i.Id">@i.Artist - @i.Title</option>
        }
    </select>
    <br />
    <input type="submit" value="Add Song" class="btn btn-primary" />
    }
    